$lightBlue: #4190cb;
$darkBlue: #163e7b;

.gap-2 {
    gap: 2em;
}

.padding-20 {
    padding: 20px;
}

h2, h3 {
    margin: 0;
}

.hover {
    cursor: pointer;
    &:hover {
        background-color: $lightBlue;
        color: white;
    }
}

.close {
    margin: 0;
    text-align: right;
    &:hover {
        cursor: pointer;
        color: $lightBlue;
    }
}
