// p{
//     background-color: red;
// }

$lightBlue: #4190cb;

.close {
    margin-bottom: 0;
    margin-right: 15px;
    text-align: end !important;
    &:hover {
        cursor: pointer;
        color: $lightBlue;
    }
}

.mainContainer{
    width: 100%;
    height: 80%;
    margin-bottom: 0;

    h2{
        width: 100%;
        text-align: center;
    }

    p{
        width: 100%;
        text-align: center;
    }
}