<div class="flex flex-end">
    <div class="flex hover close center-center" (click)="close()">
        <p>X</p>
    </div>
</div>
<form [formGroup]="changePasswordForm" class="padding-20px">
    <div class="flex column gap-2">
        <mat-form-field class="example-full-width">
            <mat-label>Current Password</mat-label>
            <input type="password" matInput formControlName="currentPassword" placeholder="******" required>
            <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
                Current password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="newPassword" placeholder="******" required>
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
                New password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Confirm New Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" placeholder="******" required>
            <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
                Confirm new password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="save()">Change</button>
    </div>
</form>