<div class="flex center-center">
    <div class="width-80">
        <h2>Add Claim</h2>
        <p>To add a claim on behalf of a PolicyHolder, look up the PolicyHolder on the table and click it</p>
        <p></p>
        <mat-form-field class="">
            <mat-label>Select a claim</mat-label>
            <mat-select name="claim" [(ngModel)]="claimSelected" required>
                <mat-option *ngFor="let claim of claims" [value]="claim">
                    {{claim | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card class="full-width flex-1 padding-15" *ngIf="!claims">
            <mat-card-content class="flex column gap-1">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="Patient_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
                        </ng-container>


                        <!-- ID Column -->
                        <ng-container matColumnDef="doctorName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="start_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let row"> {{row.ID}}</td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="start_time">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.policyName}}</td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="end_time">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy Number </th>
                            <td mat-cell *matCellDef="let row"> {{row.policyNumber}} </td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim </th>
                            <td mat-cell *matCellDef="let row"> {{row.claim}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="claimSelected"  class="p-b-20">
            <app-death-claim *ngIf="claimSelected === 'Death claim'"></app-death-claim>
            <app-public-lia-claim *ngIf="claimSelected === 'Public Liability'"></app-public-lia-claim>
            <app-prop-loss-claim  *ngIf="claimSelected === 'Property Loss Claim'"></app-prop-loss-claim>
        </mat-card>

    </div>
</div>