$lightBlue: #4190cb;
$darkBlue: #163e7b;

.width-80 {
    width: 80%;
}

.gap-2 {
    gap: 1em;
}

.hover {
    cursor: pointer;
    &:hover {
        color: $lightBlue;
    }
}

.p-b-20 {
    padding-bottom: 20px;
}

mat-icon {
    color: $darkBlue
}