<div class=" mainContainer flex center-center column">
    <DIV class=" container aic gap-1-em flex  column ">
        <div class="logo flex row center-center">
            <img src="../../../../assets/images/logo.png" alt="">
            <h1><span class="darkBlueC">C</span><span class="lightBlueC">M</span><span class="darkBlueC">S</span></h1>
        </div>
        <div class="login flex center-center">
            <h2>Register</h2>
        </div>
        <form [formGroup]="registrationForm" class="full-width">
            <h3>Personal Information</h3>
            <div class="flex gap-1em full-width">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input type="text" [value]="receivedClient.firstName" matInput formControlName="firstName" placeholder="Enter your First Name">
                    <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('firstName')?.hasError('minlength')">
                        First Name should at least have 3 charectors
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input type="text" [value]="receivedClient.lastName" matInput formControlName="lastName" placeholder="Enter your Last Name">
                    <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('lastName')?.hasError('minlength')">
                        Last Name should at least have 3 charectors
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex gap-1em full-width">
                <!-- id number -->
                <mat-form-field class="full-width">
                    <mat-label>Identification Number </mat-label>
                    <input type="number" [value]="receivedClient.idNumber" matInput placeholder="0000000000" formControlName="idNumber">
                    <mat-error *ngIf="registrationForm.get('idNumber')?.hasError('required')">
                        Identification Number is required
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('Idnumber')?.hasError('pattern')">
                        Identification Number requires 13 characters
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select [value]="receivedClient.gender" formControlName="gender">
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="male">Male</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registrationForm.get('gender')?.hasError('required')">
                        Gender is required
                    </mat-error>
                </mat-form-field>
            </div>
            <h3>Contact Details</h3>
            <div class="flex gap-1em full-width">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" [value]="receivedClient.email" matInput formControlName="email" placeholder="Ex. pat@example.com" >
                    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('email')?.hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Cell Number</mat-label>
                    <input type="text" matInput [value]="receivedClient.cellNumber" formControlName="cellNumber" placeholder="Enter your Cell Number"
                        maxlength="10" minlength="10"  (input)="onInput(registrationForm.get('cellNumber')?.value)">
                    <mat-error *ngIf="registrationForm.get('cellNumber')?.hasError('required')">
                        Cell Number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('cellNumber')?.hasError('pattern')">
                        Cell Number invalid
                    </mat-error>
                </mat-form-field>
            </div>
            <h3>Address Details</h3>
            <div formGroupName="address" class="full-width">
                <div class="flex gap-1em">
                    <mat-form-field class="full-width">
                        <mat-label>Street Name</mat-label>
                        <input type="text" [value]="receivedClient.streetName" matInput formControlName="streetName" placeholder="Enter your Street Name">
                        <mat-error *ngIf="registrationForm.get('address.streetName')?.hasError('required')">
                            Street Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Street Number</mat-label>
                        <input type="number" [value]="receivedClient.streetName" matInput formControlName="streetNumber"
                            placeholder="Enter your Street Number"  >
                        <mat-error *ngIf="registrationForm.get('address.streetNumber')?.hasError('required')">
                            Street Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex gap-1em full-width">
                    <mat-form-field class="full-width">
                        <mat-label>Suburb</mat-label>
                        <input type="text" [value]="receivedClient.suburb" matInput formControlName="suburb" placeholder="Enter your Suburb">
                        <mat-error *ngIf="registrationForm.get('address.suburb')?.hasError('required')">
                            Suburb is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>City</mat-label>
                        <input type="text" [value]="receivedClient.city" matInput formControlName="city" placeholder="Enter your City">
                        <mat-error *ngIf="registrationForm.get('address.city')?.hasError('required')">
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Code</mat-label>
                        <input type="number" [value]="receivedClient.code" matInput formControlName="code" placeholder="Enter your Code"  >
                        <mat-error *ngIf="registrationForm.get('address.code')?.hasError('required')">
                            Code is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <h3>Security Details</h3>
            <div class="flex gap-1em full-width full-width">
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter your Password"
                        maxlength="10" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
                        Password should at least have 4 charectors
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Confrim Password</mat-label>
                    <input type="password" [type]="hide ? 'password' : 'text'" matInput
                        formControlName="confirmPassword" placeholder="Confrim your Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
                        Confrim Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('pattern')">
                        Your password doesn't match!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class=" full-width btn">
                <button mat-raised-button class="btn-cancel flex-1 " (click)="registrationForm.reset()"
                    routerLink="">Cancel</button>
                <button mat-raised-button class="btn-submit flex-1" (click)="submit()">Submit</button>
            </div>

        </form>
    </DIV>
</div>