<div class="flex center-center full-height font-color margin-1em">

    <DIV class="width-80 height container  ">
        <form [formGroup]="registrationForm">
            <div class="flex gap-1em flex center-center">

                <h1 class="heading">Register</h1>
            </div>

            <h2>Personal Information</h2>
            <div class="flex gap-1em full-width">

                <mat-form-field class="half-width">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstName" placeholder="Enter your First Name">
                    <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('firstName')?.hasError('minlength')">
                        First Name should at least have 3 charectors
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="half-width">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastName" placeholder="Enter your Last Name">
                    <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('lastName')?.hasError('minlength')">
                        Last Name should at least have 3 charectors
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex gap-1em full-width">
                <!-- id number -->

                <mat-form-field class="full-width">
                    <mat-label>Identification Number </mat-label>
                    <input type="number" matInput placeholder="0000000000" formControlName="Idnumber">
                    <mat-error *ngIf="registrationForm.get('Idnumber')?.hasError('required')">
                        Identification Number is required
                    </mat-error>
                    <!-- <mat-error *ngIf="registrationForm.get('companyRegistrationNumber')?.hasError('min')">
        Identification Number requires 13 characters
    </mat-error> -->
                </mat-form-field>
            
                    <mat-form-field class="full-width">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="female">Female</mat-option>
                            <mat-option value="male">Male</mat-option>
                        </mat-select>
                        <mat-error *ngIf="registrationForm.get('gender')?.hasError('required')">
                            Gender is required
                        </mat-error>
                    </mat-form-field>
                   
                
            </div>
            <h2>Contact Details</h2>
            <div class="flex gap-1em full-width">

                <mat-form-field class="half-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('email')?.hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Cell Number</mat-label>
                    <input type="number" matInput formControlName="cellNumber" placeholder="Enter your Cell Number"
                        maxlength="10">
                    <mat-error *ngIf="registrationForm.get('cellNumber')?.hasError('required')">
                        Cell Number is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="registrationForm.get('cellNumber')?.hasError('pattern')">
                        Cell Number invalid
                    </mat-error>
                </mat-form-field>
            </div>
            <h3>Address Details</h3>
            <div formGroupName="address">
                <div class="flex gap-1em full-width">
                    <mat-form-field class="half-width">
                        <mat-label>Street Name</mat-label>
                        <input type="text" matInput formControlName="streetName" placeholder="Enter your Street Name">
                        <mat-error *ngIf="registrationForm.get('address.streetName')?.hasError('required')">
                            Street Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="half-width">
                        <mat-label>Street Number</mat-label>
                        <input type="number" matInput formControlName="streetNumber"
                            placeholder="Enter your Street Number">
                        <mat-error *ngIf="registrationForm.get('address.streetNumber')?.hasError('required')">
                            Street Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                </div>

                <div class="flex gap-1em full-width">
                    <mat-form-field class="half-width">
                        <mat-label>Suburb</mat-label>
                        <input type="text" matInput formControlName="suburb" placeholder="Enter your Suburb">
                        <mat-error *ngIf="registrationForm.get('address.suburb')?.hasError('required')">
                            Suburb is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                        <mat-label>City</mat-label>
                        <input type="text" matInput formControlName="city" placeholder="Enter your City">
                        <mat-error *ngIf="registrationForm.get('address.city')?.hasError('required')">
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="half-width">
                        <mat-label>Code</mat-label>
                        <input type="number" matInput formControlName="code" placeholder="Enter your Code">
                        <mat-error *ngIf="registrationForm.get('address.code')?.hasError('required')">
                            Code is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <h2>Security Details</h2>
            <div class="flex gap-1em full-width full-width">
                <mat-form-field class="half-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter your Password"
                        maxlength="10" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
                        Password should at least have 4 charectors
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Confrim Password</mat-label>
                    <input type="password" [type]="hide ? 'password' : 'text'" matInput
                        formControlName="confirmPassword" placeholder="Confrim your Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
                        Confrim Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('pattern')">
                        Your password doesn't match!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class=" full-width btn">
                <button mat-raised-button class="btn-cancel flex-1 " (click)="registrationForm.reset()">Cancel</button>
                <button mat-raised-button class="btn-submit flex-1" (click)="submit()">Submit</button>
            </div>
        </form>
    </DIV>
</div>