<div class="flex center-center full-height">
<mat-card *ngFor="let profile of profiles">
<mat-icon> person</mat-icon>
    <mat-card-header>
      <mat-card-title class="lightBlueC">{{ profile.name }} {{ profile.surname }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <p><strong>ID:</strong> {{ profile.id }}</p>
      <p><strong>Date of Birth:</strong> {{ profile.dateOfBirth | date }}</p>
      <p><strong>Gender:</strong> {{ profile.gender }}</p>
      <p><strong>Address:</strong> {{ profile.address }}</p>
      <p><strong>Policy Number:</strong> {{ profile.policyNumber }}</p>
      <p><strong> Email Address:</strong> {{ profile.email }}</p>
      <p><strong>Cell number:</strong> {{ profile.contact }}</p>
      
    </mat-card-content>
    <button mat-raised-button class="btn1">change Password</button>
  </mat-card>
</div>