textarea{
    height: 9em !important;
}
.gap-1em{
    gap: 1em;
}
mat-card{
    padding: 1em;
    width: 70%;
    height: auto;
    // text-align: center;
}
.btn1 {
    border: 2px solid #163e7b;
    color: #163e7b;
    width: fit-content;
    margin: 1em;
}
.lightBlueC {
    color: #4190cb;
}

.btn1:hover {
    background-color: #163e7b;
    color: white;
}
mat-icon{
    font-size: -webkit-xxx-large;
    width: 74px;
    height: 42px;
    margin-left: 16px;
}