textarea{
    height: 9em !important;
}
.gap-1em{
    gap: 1em;
}
.containerr{

    flex-direction: column;
        width: 235px;
        display: flex;
        justify-content: center;
}
.content{
    box-sizing: border-box;
    width: 90%;
    border-radius: 50%;
    height: 255PX;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
}

mat-card{
    padding: 1em;
    width: 70%;
    height: auto;
    margin-top: 110px;
    z-index: -1;
    // text-align: center;
}

.lightBlueC {
    color: #4190cb;
}

mat-icon{
    font-size: -webkit-xxx-large;
    width: 74px;
    height: 42px;
    margin-left: 16px;
}

.btn-cancel {
    // background: #f00101 !important;
    color: #1a3f7e !important;
    width: 40% !important;
    cursor: pointer !important;
 
    border:  2px solid #1a3f7e !important;
 }

.btn-cancel:hover{
    background-color: #1a3f7e !important;
    color: #ffffff !important ;
 }