<div class="flex center-center gap-1 height-95 m-t-3em">
  <div class="containerr">

    <div class="content column">
      <img src="../../../assets/urban-line-user-2.gif" alt="" width="64%"
        *ngIf="profile.gender === 'Male' || profile.gender=== 'male'">
      <img src="../../../assets/urban-line-user-3.gif" alt="" width="64%" *ngIf="profile.gender === 'Female'">
      <img src="../../../assets/images/onlaptop.png" alt="" width="64%" *ngIf="profile.gender ==='none'">

    </div>
    <div class="flex center-center">
      <h2 class="lightBlueC"> {{ profile.firstName }} {{ profile.lastName }} </h2>
    </div>

    <div class="primary-btn flex center-center">
      <button mat-raised-button (click)="changePwd()">change Password</button>
    </div>
  </div>
  <!-- </div> -->
  <mat-card>

    <mat-card-header>

      <mat-card-title>
        PROFILE
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex gap-1em">
        <mat-form-field class="half-width">
          <mat-label>ID</mat-label>
          <input type="number" matInput [value]=" profile.idNumber" readonly>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Date of Birth</mat-label>
          <input type="text" matInput [value]="profile.idNumber.toString().substring(0, 6)" readonly>
        </mat-form-field>
      </div>
      <div class="flex gap-1em">
        <mat-form-field class="half-width">
          <mat-label> Gender</mat-label>
          <input type="text" matInput [value]=" profile.gender" readonly>
        </mat-form-field>
        <mat-form-field class="half-width" *ngIf=" profile.employeeID !== undefined" readonly>
          <mat-label> Agent Number</mat-label>
          <input type="text" matInput [value]=" profile.employeeID" readonly>
        </mat-form-field>
        <mat-form-field class="half-width" *ngIf="profile.role === 'claimer' ">
          <mat-label> member ID</mat-label>
          <input type="text" matInput [value]="profile.memberID" readonly>
        </mat-form-field>
      </div>
      <div class="flex gap-1em">
        <mat-form-field class="half-width" *ngIf="!editF">
          <mat-label>Cell Number</mat-label>
          <input type="number" matInput [value]="profile.cellNumber" readonly>
        </mat-form-field>


        <mat-form-field class="half-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [value]="profile.email" readonly>
        </mat-form-field>
      </div>

      <div *ngIf="!editF">
        <h2> Address </h2>
        <div class="flex gap-1em full-width">
          <mat-form-field class="full-width">
            <mat-label> Street Number</mat-label>
            <input type="text" matInput [value]="profile.address.streetNumber" readonly>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Street Name</mat-label>
            <input type="text" matInput [value]=" profile.address.streetName" readonly>
          </mat-form-field>
        </div>
        <div class="flex gap-1em full-width">
          <mat-form-field class="full-width">
            <mat-label> Suburb</mat-label>
            <input type="text" matInput [value]=" profile.address.suburb" readonly>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> City</mat-label>
            <input type="text" matInput [value]=" profile.address.city" readonly>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Code</mat-label>
            <input type="text" matInput [value]=" profile.address.code" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="flex column" *ngIf="editF">

        <!-- <mat-form-field>
          <mat-label> adddress</mat-label>
          <input type="text" matInput [value]=" profile.streetNumber">
          <input type="text" matInput [value]=" profile.streetName">
          <input type="text" matInput [value]=" profile.city">
          <input type="text" matInput [value]=" profile.code">
        </mat-form-field> -->


      </div>
    </mat-card-content>

  </mat-card>

</div>