$lightBlue: #4190cb;
$darkBlue: #163e7b;
$white-color: white;

.main-container {
    height: calc(100vh - 64px);
}

.width-80 {
    width: 80%;
}

.table {
    height: 400px;
    overflow-x: auto;
    button {
        color: white;
    }
}

input[type='file'] {
    display: none;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    background-color:  $lightBlue;
    color: $white-color !important;
    // font-size:larger;
    font-weight: 700;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 5px lightgray;
    }
}

.block { 
    display: block;
 }

.disabled {
    background-color: $lightBlue;
}

.enabled {
    background-color: $darkBlue;
}