<div class="main-container padding-20">
    <!-- <div class="flex"> -->
    <p class="close" (click)="close()">X</p>
    <!-- </div> -->
    <div class="bottom gap1em flex center-center">
        <div class="left flex center-center">
            <div class="pic flex center-center">
                <img src="../../../../assets/images/safe-payment_13207702.png" alt="">
            </div>
        </div>
        <div class="right ">
            <p class="flex center-center">
                We are pleased to inform you that your claim has been thoroughly reviewed and approved. 
                Your request meets all necessary criteria, and we are committed to processing your payment promptly. 
                Rest assured, the payment for your claim will be processed within the next three working days. 
                Should you have any further inquiries or require assistance, please do not hesitate to reach out to us. 
                Thank you for your patience and cooperation throughout this process.
            </p>
        </div>
    </div>
</div>