<div class="flex center-center full-height">
    <div class="flex column center-center gap-1 standard-width">
        <div class=" flex center-center row">
            <img class="logo" src="../../../../assets/images/logo.png" alt="">
            <h1><span class="darkBlueC">C</span><span class="lightBlueC">M</span><span class="darkBlueC">S</span></h1>
        </div>
        <div>
            <h2>Register feedback</h2>
            <p>{{newUser}} was successfully register</p>
        </div>
        <div class="primary-btn">
            <button mat-raised-button (click)="toHome()">Go home</button>
        </div>
    </div>
</div>
