<mat-toolbar class="darkBlue flex center-center">
    <div class="right flex column center-center color-white">
        <h6>Developers</h6>
        <div class="flex gap1em font-15 font-weight-600 poppins">
            <div *ngFor="let dev of developers">
                <small>{{dev.name}}( </small>
                <small>{{dev.cellphone}} | </small>
                <a href="'mailto:'{{dev.email}}">{{dev.email.changingThisBreaksApplicationSecurity}})</a>
            </div>
        </div>
    </div>
</mat-toolbar>